{
  "sites": {
    "admin": {
      "name": "管理后台",
      "subtitle": "平台配置",
      "api": "front",
      "page": "admin",
      "access": {
        "mode": "rbac"
      },
      "assets": {
        "logo": "assets/images/logo.svg",
        "favicon": "assets/images/favicon.svg"
      },
      "setting": {
        "appearance": {
          "theme": "light",
          "sidebar": "floating",
          "layout": "compact",
          "direction": "ltr"
        },
        "runtime": {
          "skin": "default",
          "routerMode": "history"
        }
      }
    },
    "work": {
      "name": "工作台",
      "subtitle": "业务工作区",
      "api": "work",
      "page": "work",
      "access": {
        "mode": "login"
      },
      "assets": {
        "logo": "assets/images/logo.svg",
        "favicon": "assets/images/favicon.svg"
      },
      "setting": {
        "appearance": {
          "theme": "light",
          "sidebar": "floating",
          "layout": "compact",
          "direction": "ltr"
        },
        "runtime": {
          "skin": "default",
          "routerMode": "history"
        }
      }
    }
  }
}
