package main

import (
	"log"

	"{{MODULE_NAME}}/data"
	_ "{{MODULE_NAME}}/data/load"

	dever "github.com/shemic/dever/cmd"
)

func main() {
	if err := dever.Run(data.RegisterRoutes); err != nil {
		log.Fatal(err)
	}
}
