{
  "page": {
    "name": "编辑{{RESOURCE_TITLE}}",
    "type": 2
  },
  "layout": {
    "type": "container",
    "children": {
      "form-shell": {"type": "container"}
    }
  },
  "nodes": {
    "form-shell": [
      {"type": "form-input", "value": "form.name"},
      {"type": "form-input", "value": "form.code"},
      {"type": "show-button", "name": "保存", "meta": {"submit": true}}
    ]
  },
  "data": {
    "form": {}
  },
  "state": {},
  "action": {}
}
